FIREBASE_CRED_PATH=/path/to/your/service-account-file.json
CPCB_API_KEY=your_cpcb_api_key_here
OPENMETEO_BASE_URL=https://api.open-meteo.com/v1/geocoding/v1/reverse
GOOGLE_MAPS_KEY=your_google_maps_api_key_here